.sc-content {
    display: flex;
    flex-direction: row;
}

.sc-auction-item {
    padding: 8px;
    flex: 2;
}

.sc-fr {
    float: right;
    padding-right: 6px;
}

#sc-total {
    font-family: 'Muli', sans-serif;
    font-size: 2.2em;
    padding: 10px 0 10px 6px;
    background-color: #2abc68;
    color: white;
}

.sc-auction-pricing {
    padding-right: 10px;
    font-family: 'Muli', sans-serif;
    color: #000;
    flex: 1;
}

div.auction-span {
    padding: 3px 0;
    font-size: 1.2em;
}

#sc-rt {
    padding-left: 6px;
    background-color: black;
    color: white;
}

#sc-button {
    text-align: center;
    margin: 0 auto;
}

#sc-button a {
    color: #2abc68;
    background-color: #FFF;
    border: 2px solid #2abc68;
    border-radius: 48px;
    font-size: 20px;
    text-decoration: none;
    margin: 32px 0 32px 0;
    display: inline-block;
    padding: 16px 48px;
    transition: 100ms;
}

#sc-button a:hover {
    color: white;
    background-color: #2abc68;
    border-color: #2abc68;
    transition: 100ms;
}

.sc-image {
    float: left;
}

.sc-image > img {
    padding-right: 20px;
    width: 75px;
    height: 65px;
}

.sc-description {
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.sc-description > p {
    margin: 0;
    font-weight: bold;
    font-size: 1.4em;
}

#main {
    width: 95%;
    max-width: 980px;
}

.page-id-619 > #main > #content > .my_box3 > .padd10 > .box_content.post-content {
    display: block;
    padding-top: 10px;
}

@media only screen and (max-width: 540px) {
    .sc-content {
        flex-direction: column;
    }
    .sc-auction-pricing {
        padding-left: 10px;
    }
}
