.sc_wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

main {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: lightgrey;
}

.sc_nav {
    font-weight: 700;
    padding: 5px 0;
    text-align: center;
}

.sc_nav a {
    font-size: 1.2em;
    text-decoration: none;
}

.sc_navi {
    text-align: center;
    background-color: #0073aa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sc_navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sc_navi ul li {
    display: inline-block;
    margin: 0;
}

.sc_navi li a {
    font-size: 1.2em;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
}

.sc_navi li a:hover, .sc_navi li a:focus {
    background-color: #001f3f;
}

#sc_title {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 20px;
}

footer {
    height: 50px;
}

.sc_tabs {
    display: none;
}

tr:hover {
    background-color: #EEE;
}

tr:hover td {
    background-color: transparent;
}

select {
    font-size: 12px;
    border: 1px solid #E1E1E1;
    height: 100%;
    width: 100%;
    white-space:pre-wrap;
    transition: 200ms;
}

select:hover, select:focus {
    transition: 200ms;
    border: 1px solid #0073aa;
}